@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7izoq0');
    src: url('../fonts/icomoon.eot?7izoq0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7izoq0') format('truetype'),
    url('../fonts/icomoon.woff?7izoq0') format('woff'),
    url('../fonts/icomoon.svg?7izoq0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i[class^="icon-"], i[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tag-line:before {
    content: "\e90a";
}

.icon-calendar-line:before {
    content: "\e901";
}

.icon-close-line:before {
    content: "\e903";
}

.icon-discuss-line:before {
    content: "\e904";
}

.icon-folders-line:before {
    content: "\e906";
}

.icon-menu-line:before {
    content: "\e909";
}

.icon-search-line:before {
    content: "\e90b";
}

.icon-user-line:before {
    content: "\e90c";
}

.icon-home:before {
    content: "\e900";
}

.icon-house:before {
    content: "\e902";
}

.icon-pencil:before {
    content: "\e905";
}

.icon-quill:before {
    content: "\e907";
}

.icon-pen:before {
    content: "\e908";
}

.icon-image:before {
    content: "\e90d";
}

.icon-images:before {
    content: "\e90e";
}

.icon-camera:before {
    content: "\e90f";
}

.icon-headphones:before {
    content: "\e910";
}

.icon-music:before {
    content: "\e911";
}

.icon-play:before {
    content: "\e912";
}

.icon-film:before {
    content: "\e913";
}

.icon-video-camera:before {
    content: "\e914";
}

.icon-bullhorn:before {
    content: "\e91a";
}

.icon-mic:before {
    content: "\e91e";
}

.icon-book:before {
    content: "\e91f";
}

.icon-file-text:before {
    content: "\e922";
}

.icon-profile:before {
    content: "\e923";
}

.icon-file-empty:before {
    content: "\e924";
}

.icon-files-empty:before {
    content: "\e925";
}

.icon-file-text-alt:before {
    content: "\e926";
}

.icon-file-picture:before {
    content: "\e927";
}

.icon-file-music:before {
    content: "\e928";
}

.icon-file-play:before {
    content: "\e929";
}

.icon-file-video:before {
    content: "\e92a";
}

.icon-file-zip:before {
    content: "\e92b";
}

.icon-copy:before {
    content: "\e92c";
}

.icon-folder:before {
    content: "\e92f";
}

.icon-folder-open:before {
    content: "\e930";
}

.icon-tag:before {
    content: "\e935";
}

.icon-tags:before {
    content: "\e936";
}

.icon-cart:before {
    content: "\e93a";
}

.icon-phone1:before {
    content: "\e942";
}

.icon-address-book:before {
    content: "\e944";
}

.icon-envelop:before {
    content: "\e945";
}

.icon-pushpin:before {
    content: "\e946";
}

.icon-location-alt:before {
    content: "\e947";
}

.icon-location:before {
    content: "\e948";
}

.icon-compass:before {
    content: "\e949";
}

.icon-map:before {
    content: "\e94b";
}

.icon-map-alt:before {
    content: "\e94c";
}

.icon-clock-alt:before {
    content: "\e94e";
}

.icon-clock:before {
    content: "\e94f";
}

.icon-calendar:before {
    content: "\e953";
}

.icon-printer:before {
    content: "\e954";
}

.icon-display:before {
    content: "\e956";
}

.icon-laptop:before {
    content: "\e957";
}

.icon-phone:before {
    content: "\e958";
}

.icon-mobile:before {
    content: "\e959";
}

.icon-tablet:before {
    content: "\e95a";
}

.icon-drawer-full:before {
    content: "\e95c";
}

.icon-drawer-alt:before {
    content: "\e95d";
}

.icon-undo-arrow:before {
    content: "\e965";
}

.icon-redo-arrow:before {
    content: "\e966";
}

.icon-undo:before {
    content: "\e967";
}

.icon-redo:before {
    content: "\e968";
}

.icon-forward:before {
    content: "\e969";
}

.icon-reply:before {
    content: "\e96a";
}

.icon-bubble:before {
    content: "\e96b";
}

.icon-bubbles-alt:before {
    content: "\e96c";
}

.icon-bubbles:before {
    content: "\e96d";
}

.icon-user:before {
    content: "\e971";
}

.icon-users:before {
    content: "\e972";
}

.icon-user-tie:before {
    content: "\e976";
}

.icon-quotes-left:before {
    content: "\e977";
}

.icon-quotes-right:before {
    content: "\e978";
}

.icon-spinner:before {
    content: "\e984";
}

.icon-search:before {
    content: "\e986";
}

.icon-zoom-in:before {
    content: "\e987";
}

.icon-zoom-out:before {
    content: "\e988";
}

.icon-lock:before {
    content: "\e98f";
}

.icon-unlocked:before {
    content: "\e990";
}

.icon-wrench:before {
    content: "\e991";
}

.icon-cog:before {
    content: "\e994";
}

.icon-bin-alt:before {
    content: "\e9ac";
}

.icon-bin:before {
    content: "\e9ad";
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-link:before {
    content: "\e9cb";
}

.icon-flag:before {
    content: "\e9cc";
}

.icon-attachment:before {
    content: "\e9cd";
}

.icon-bookmark:before {
    content: "\e9d2";
}

.icon-bookmarks:before {
    content: "\e9d3";
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-half:before {
    content: "\e9d8";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-info:before {
    content: "\ea0c";
}

.icon-cancel-circle:before {
    content: "\ea0d";
}

.icon-blocked:before {
    content: "\ea0e";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-arrow-alt-up-left:before {
    content: "\ea31";
}

.icon-arrow-alt-up:before {
    content: "\ea32";
}

.icon-arrow-alt-up-right:before {
    content: "\ea33";
}

.icon-arrow-alt-right:before {
    content: "\ea34";
}

.icon-arrow-alt-down-right:before {
    content: "\ea35";
}

.icon-arrow-alt-down:before {
    content: "\ea36";
}

.icon-arrow-alt-down-left:before {
    content: "\ea37";
}

.icon-arrow-alt-left:before {
    content: "\ea38";
}

.icon-arrow-up-left-alt:before {
    content: "\ea39";
}

.icon-arrow-up:before {
    content: "\ea3a";
}

.icon-arrow-up-right:before {
    content: "\ea3b";
}

.icon-arrow-right:before {
    content: "\ea3c";
}

.icon-arrow-down-right:before {
    content: "\ea3d";
}

.icon-arrow-down:before {
    content: "\ea3e";
}

.icon-arrow-down-left:before {
    content: "\ea3f";
}

.icon-arrow-left:before {
    content: "\ea40";
}

.icon-share:before {
    content: "\ea82";
}

.icon-amazon:before {
    content: "\ea87";
}

.icon-google:before {
    content: "\ea88";
}

.icon-google-square:before {
    content: "\ea89";
}

.icon-google-circle:before {
    content: "\ea8a";
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-google-plus-square:before {
    content: "\ea8c";
}

.icon-google-plus-circle:before {
    content: "\ea8d";
}

.icon-hangouts:before {
    content: "\ea8e";
}

.icon-google-drive:before {
    content: "\ea8f";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-facebook-square:before {
    content: "\ea91";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-whatsapp:before {
    content: "\ea93";
}

.icon-spotify:before {
    content: "\ea94";
}

.icon-telegram:before {
    content: "\ea95";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-vine:before {
    content: "\ea97";
}

.icon-vk:before {
    content: "\ea98";
}

.icon-renren:before {
    content: "\ea99";
}

.icon-sina-weibo:before {
    content: "\ea9a";
}

.icon-rss:before {
    content: "\ea9b";
}

.icon-rss-square:before {
    content: "\ea9c";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-youtube-alt:before {
    content: "\ea9e";
}

.icon-twitch:before {
    content: "\ea9f";
}

.icon-vimeo:before {
    content: "\eaa0";
}

.icon-vimeo-square:before {
    content: "\eaa1";
}

.icon-lanyrd:before {
    content: "\eaa2";
}

.icon-flickr:before {
    content: "\eaa3";
}

.icon-flickr-alt:before {
    content: "\eaa4";
}

.icon-flickr-square:before {
    content: "\eaa5";
}

.icon-flickr-circle:before {
    content: "\eaa6";
}

.icon-dribbble:before {
    content: "\eaa7";
}

.icon-behance:before {
    content: "\eaa8";
}

.icon-behance-square:before {
    content: "\eaa9";
}

.icon-deviantart:before {
    content: "\eaaa";
}

.icon-500px:before {
    content: "\eaab";
}

.icon-steam:before {
    content: "\eaac";
}

.icon-steam-square:before {
    content: "\eaad";
}

.icon-dropbox:before {
    content: "\eaae";
}

.icon-onedrive:before {
    content: "\eaaf";
}

.icon-github:before {
    content: "\eab0";
}

.icon-npm:before {
    content: "\eab1";
}

.icon-basecamp:before {
    content: "\eab2";
}

.icon-trello:before {
    content: "\eab3";
}

.icon-wordpress:before {
    content: "\eab4";
}

.icon-joomla:before {
    content: "\eab5";
}

.icon-ello:before {
    content: "\eab6";
}

.icon-blogger:before {
    content: "\eab7";
}

.icon-blogger-square:before {
    content: "\eab8";
}

.icon-tumblr:before {
    content: "\eab9";
}

.icon-tumblr-square:before {
    content: "\eaba";
}

.icon-yahoo:before {
    content: "\eabb";
}

.icon-yahoo-square:before {
    content: "\eabc";
}

.icon-tux:before {
    content: "\eabd";
}

.icon-appleinc:before {
    content: "\eabe";
}

.icon-finder:before {
    content: "\eabf";
}

.icon-android:before {
    content: "\eac0";
}

.icon-windows:before {
    content: "\eac1";
}

.icon-windows8:before {
    content: "\eac2";
}

.icon-soundcloud:before {
    content: "\eac3";
}

.icon-soundcloud-square:before {
    content: "\eac4";
}

.icon-skype:before {
    content: "\eac5";
}

.icon-reddit:before {
    content: "\eac6";
}

.icon-hackernews:before {
    content: "\eac7";
}

.icon-wikipedia:before {
    content: "\eac8";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-linkedin-alt:before {
    content: "\eaca";
}

.icon-lastfm:before {
    content: "\eacb";
}

.icon-lastfm-square:before {
    content: "\eacc";
}

.icon-delicious:before {
    content: "\eacd";
}

.icon-stumbleupon:before {
    content: "\eace";
}

.icon-stumbleupon-square:before {
    content: "\eacf";
}

.icon-stackoverflow:before {
    content: "\ead0";
}

.icon-pinterest:before {
    content: "\ead1";
}

.icon-pinterest-alt:before {
    content: "\ead2";
}

.icon-xing:before {
    content: "\ead3";
}

.icon-xing-alt:before {
    content: "\ead4";
}

.icon-flattr:before {
    content: "\ead5";
}

.icon-foursquare:before {
    content: "\ead6";
}

.icon-yelp:before {
    content: "\ead7";
}

.icon-paypal:before {
    content: "\ead8";
}

.icon-chrome:before {
    content: "\ead9";
}

.icon-firefox:before {
    content: "\eada";
}

.icon-IE:before {
    content: "\eadb";
}

.icon-edge:before {
    content: "\eadc";
}

.icon-safari:before {
    content: "\eadd";
}

.icon-opera:before {
    content: "\eade";
}

.icon-html-five:before {
    content: "\eae4";
}

.icon-html-five-alt:before {
    content: "\eae5";
}

.icon-css3:before {
    content: "\eae6";
}

.icon-git:before {
    content: "\eae7";
}

.icon-codepen:before {
    content: "\eae8";
}

.icon-svg:before {
    content: "\eae9";
}