h1,
h2,
h3,
h4,
h5,
h6,
.postbox__title a {
  color: #f46c46;
}

.postbox__title a,
.btn--text {
  color: #f46c46;
}

.postbox__title a:hover, .postbox__title a:focus,
.btn--text:hover,
.btn--text:focus {
  color: #f37646;
}

.comment-list .comment .comment-title a {
  color: #f46c46 !important;
}

.comment-list .comment .comment-title a:hover, .comment-list .comment .comment-title a:focus {
  color: #f37646 !important;
}

.header__navbar a.header__logo:hover, .header__navbar a.header__logo:focus {
  color: #f37646;
}

.header__navbar .header__logo a:hover, .header__navbar .header__logo a:focus {
  color: #f37646;
}

.header__navbar .navbar-nav .nav-link:hover, .header__navbar .navbar-nav .nav-link:focus {
  color: #f37646;
}

.header__navbar .header__icons a:hover, .header__navbar .header__icons a:focus {
  color: #f37646;
}

.btn-primary {
  border-color: #f46c46;
  background: #f46c46;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  border-color: #f37646;
  background: #f37646;
}

.header.bg--theme_color {
  background: #eea849;
  background: -webkit-linear-gradient(left, #f46c46 0%, #eea849 100%);
  background: -o-linear-gradient(left, #f46c46 0%, #eea849 100%);
  background: linear-gradient(to right, #f46c46 0%, #eea849 100%);
}

.widget.widget_calendar #calendar_wrap table#wp-calendar caption {
  background: #f46c46;
  border: 1px solid #f37646;
}
