h1,
h2,
h3,
h4,
h5,
h6,
.postbox__title a {
  color: #ea1768;
}

.postbox__title a,
.btn--text {
  color: #ea1768;
}

.postbox__title a:hover, .postbox__title a:focus,
.btn--text:hover,
.btn--text:focus {
  color: #dd2778;
}

.comment-list .comment .comment-title a {
  color: #ea1768 !important;
}

.comment-list .comment .comment-title a:hover, .comment-list .comment .comment-title a:focus {
  color: #dd2778 !important;
}

.header__navbar a.header__logo:hover, .header__navbar a.header__logo:focus {
  color: #dd2778;
}

.header__navbar .header__logo a:hover, .header__navbar .header__logo a:focus {
  color: #dd2778;
}

.header__navbar .navbar-nav .nav-link:hover, .header__navbar .navbar-nav .nav-link:focus {
  color: #dd2778;
}

.header__navbar .header__icons a:hover, .header__navbar .header__icons a:focus {
  color: #dd2778;
}

.btn-primary {
  border-color: #ea1768;
  background: #ea1768;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  border-color: #dd2778;
  background: #dd2778;
}

.header.bg--theme_color {
  background: #bd4e9d;
  background: -webkit-linear-gradient(left, #ea1768 0%, #bd4e9d 100%);
  background: -o-linear-gradient(left, #ea1768 0%, #bd4e9d 100%);
  background: linear-gradient(to right, #ea1768 0%, #bd4e9d 100%);
}

.widget.widget_calendar #calendar_wrap table#wp-calendar caption {
  background: #ea1768;
  border: 1px solid #dd2778;
}
